$yellow1:#605708;
$yellow2:#EBBA18;
$blueSection:#4EBBBC;
$grey:#707070;
$fontSizeDefault: 10px;
$fontSizeSmart: 10px;
$fontSizeTab: 12px;
$fontSize1200: 14px;
$tabMedia: 768px;
$mobileNavHeight: 80px;
$buttonH:40px;
$buttonW:100px